.navbar {
  min-height: 8vh;
  height: fit-content;
  width: 100%;
  background-color: $orange;
  position: fixed;
  top: 0;
  @include flex(row, space-between, center);
  padding: 0 5vw;
  @include media($xs) {
    padding: 0 1vw;
  }
  .logo {
    @include flex(row, center, center);
    height: 8vh;
    width: fit-content;
    @include media($xs) {
      display: block;
      position: relative;
      top: 0.5rem;
      left: 0.5rem;
    }
    img {
      height: 5vh;
      width: auto;
    }
  }
  .navigation {
    display: flex;
    flex-direction: column;
    height: fit-content;
    .hamburger {
      background-color: transparent;
      border: none;
      position: fixed;
      top: 0.5rem;
      right: 0.5rem;
    }
    .links {
      @include flex(row, space-around, center);
      height: 8vh;
      width: fit-content;
      gap: 3rem;
      @include media($sm) {
        width: fit-content;
      }
      @include media($xs) {
        height: fit-content;
        @include flex(column, flex-end, flex-end);
        padding: 4rem 0.5rem 1rem 0;
        gap: 1rem;
      }
      button {
        background-color: transparent;
        border: none;
        color: $black;
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
