.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/background.jpg");
  background-size: 90%;
  background-position: center;
  @include flex(column, center, center);
  gap: 10vh;
  @include media($sm) {
    background-size: cover;
  }
  .scroll-down-btn {
    @include buttonStyle;
    @include border;
    @include flex(column, center, center);
    padding: 0 3rem;
    color: $white;
    font-weight: 600;
  }
  h1 {
    font-weight: 700;
    font-family: $headingFontFamily;
    font-size: 3.5rem;
    color: $white;
    text-shadow: 4px 4px $black;
    text-align: center;
    @include media($xs) {
      font-size: 3rem;
    }
  }
}
