.layout {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  @include flex(column, none, none);
  position: relative;
  @import "./components/Footer/Footer";
  @import "./components/Navbar/Navbar";

  .appw {
    width: 100%;
    height: 100%;
  }
}
