.items {
  padding: 10vh 0vw;
  @include flex(column, center, center);
  gap: 10vh;
  @include media($xs) {
    padding: 10vh 0vw;
  }
  h1 {
    font-family: $headingFontFamily;
  }
  h2 {
    font-size: 1.8rem;
    font-family: $headingFontFamily;
    width: 80%;
    @include media($xs) {
      font-size: 1.6rem;
    }
    &:first-child {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
}
