//Colors
$black: #000;
$white: #fff;
$orange: #ffc107;
//Breakpoints
$xxs: 400px;
$xs: 600px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 2000px;
//fontFamily
$fontFamily: Arial, Helvetica, sans-serif;
$headingFontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
